/* CSS Reset by Eric Meyer */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    list-style: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --text-color: #052E4C;
    --text-color-sidebar: #417A82;
    --small-padding: 20px;
    --padding: 40px;
    --font-weight: 400
}

body {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: none;
}

.container {
    display: flex;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main {
    max-width: calc(100% - 72px);
    width: calc(100% - 72px);
}

.sidebar {
    padding: 30px 0;
    width: 72px;
    min-width: 72px;
    max-height: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F6F7;
}

.sidebar__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B84C74;
}

.sidebar__logo p {
    padding-top: 30%;
    font-family: Inter;
    font-size: 10px;
    font-weight: var(--font-weight);
    line-height: 12.1px;
    text-align: center;
    color: #fff;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.sidebar-menu__nav {
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.sidebar a:hover {
    box-shadow: 0px -10px 10px rgba(5, 46, 76, 0.1);
}

.sidebar-menu__nav__item {
    text-align: center;
}

.sidebar-menu__nav__icon {
    width: 21px;
    height: 21px;
}

.menu__link {
    text-decoration: none;
    font-size: var(--small-padding);
    display: block;
}

.sidebar_detailed {
    display: none;
    flex-direction: column;
    align-items: start;
    position: absolute;
    justify-content: space-between;
    padding: var(--padding) var(--small-padding);
    left: 0;
    top: 0;
    width: 224px;
    min-width: 72px;
    max-height: 800px;
    height: 800px;
    font-family: PT Sans;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--text-color-sidebar);
}

.sidebar_detailed__logo {
    font-weight: var(--font-weight);
    font-size: var(--padding);
    line-height: 51.76px;
    margin: 0 auto;
}

.sidebar_detailed__info {
    margin: 0 auto;
    min-height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_detailed__info>p:first-child {
    font-weight: var(--padding);
    font-size: 10px;
    line-height: 12.94px;
    text-align: center;
}

.sidebar_detailed__info p {
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    text-align: center;
}

.sidebar_detailed-search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar_detailed-menu__nav {
    max-height: 379px;
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.sidebar_detailed-menu__nav__item {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 25%;
    transition: .3s ease-in-out;
}

.sidebar_detailed-menu__nav__item:hover {
    transform: translateY(-5px);
}

.sidebar_detailed-menu__nav__item .sidebar_detailed-menu__nav__icon {
    width: 21px;
    height: 21px;
}

.sidebar_detailed-search-container input[type="text"] {
    width: 176px;
    height: 32px;
    border: 1px solid var(--text-color-sidebar);
    border-radius: var(--small-padding);
    padding: 0 25%;
    outline: none;
}

.sidebar_detailed-search-container input[type="text"]::placeholder {
    color: var(--text-color-sidebar);
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    opacity: .5;
}

.sidebar_detailed-search-container--icon {
    position: absolute;
    left: 10px;
    top: 6px;
    cursor: pointer;
}

.sidebar_detailed-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
}

.sidebar_detailed-link>* {
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    color: var(--text-color-sidebar)
}

.slider {
    max-height: 800px;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.slider__info {
    font-family: Cormorant Infant;
    position: absolute;
    top: 160px;
    left: 90px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.slider__info--header {
    max-height: 234px;
    font-size: 78px;
    font-weight: 300;
    line-height: 78px;
}

.slider__info--description {
    font-family: PT Sans;
    font-weight: var(--font-weight);
    font-size: 16px;
    color: var(--text-color);
}

.slider__info--calculate {
    width: 132px;
    height: var(--padding);
    border: none;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .5s ease-in-out;
}

.slider__info--calculate p {
    font-family: PT Sans;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    color: var(--text-color);
}

.slider__info--calculate:hover {
    background-color: #eee;
}

strong {
    font-size: 78px;
    font-style: italic;
    font-weight: 600;
    line-height: 78px;
}

.slider__order {
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 1;
    display: flex;
    gap: var(--small-padding);
    align-items: center;
}

.slider__order--button {
    cursor: pointer;
    width: 149px;
    height: var(--padding);
    border: none;
    background-color: #B84C74;
    color: #fff;
    transition: background-color .5s ease-in-out;
}

.slider__order--button:hover {
    background-color: #9E3F63;
}

.slider__order__item__icon {
    width: var(--padding);
    height: var(--padding);
}

.slider__wrapper {
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out
}

.slider__item {
    margin: 0;
    min-width: 100%;
    width: 100%;
    display: block;
}

.slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__control {
    position: absolute;
    width: 72px;
    height: 22px;
    bottom: 50px;
    left: 100px;
    display: flex;
    align-items: center;
}

.slider__control__action {
    bottom: 50px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}

.slider__control__action--prev {
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
}

.slider__control__action--next {
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
}

.popular {
    max-height: 672px;
    height: 672px;
    background-color: var(--text-color-sidebar);
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}

.popular__title {
    position: absolute;
    top: 100px;
    left: var(--small-padding);
    text-align: center;
    font-family: Cormorant;
    font-weight: var(--font-weight);
    font-style: italic;
    font-size: 300px;
    line-height: 56px;
    opacity: 5%;
    color: #FFFFFF;
    font-family: Cormorant;
}

.popular__container {
    display: flex;
    min-width: 100%;
    align-items: end;
    justify-content: right;
}

.popular__container__content {
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.popular__container__content__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.popular__container__content__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.popular__container__content__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.popular__container__content__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.popular__container__content__item:nth-child(4) {
    grid-row: 1 / 3;
}

.popular__container__empty {
    width: 160px;
    height: 672px;
    background-color: var(--text-color);
}

.best__offers {
    height: 600px;
    margin: 100px 72px;
    text-align: center;
    overflow: hidden;
}

.best__offers__header {
    max-width: 100%;
    padding: var(--small-padding);
    display: flex;
    justify-content: space-between;
}

.best__offers__header__title {
    font-family: PT Sans;
    font-weight: var(--font-weight);
    font-size: var(--small-padding);
    line-height: 25.88px;
    color: var(--text-color)
}

.best__offers__control {
    width: 72px;
    height: 22px;
    display: flex;
    align-items: center;
}

.best__offers__control__action {
    bottom: 50px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}

.best__offers__control__action--prev {
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
}

.best__offers__control__action--next {
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
}

.best__offers__products {
    display: flex;
    justify-content: space-between;
    gap: 66px;
    max-width: 100%;
    transition: transform 1s ease-in-out;
}

.best__offers__products-card {
    min-width: 256px;
    width: 256px;
    height: 536px;
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
    align-items: start;
    padding: 16px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    text-align: left;
}

.best__offers__products-card-title {
    font-family: PT Sans;
    font-weight: var(--font-weight);
    font-size: 16px;
    line-height: 20.7px;
    color: var(--text-color)
}

.best__offers__products-card:hover {
    background-color: rgba(227, 246, 245, 0.5);
}

.best__offers__products-card-wrapper {
    max-width: 100%;
    height: 278px;
    position: relative;
}

.best__offers__products-card-wrapper-top-container {
    position: absolute;
    top: 10px;
    left: var(--small-padding);
    right: var(--small-padding);
    display: flex;
    align-items: center;
}

.best__offers__products-card-wrapper-top-container-iconWrapper {
    width: 99px;
    height: 32.6px;
    display: flex;
    justify-content: space-between;
}

.best__offers__products-card-wrapper-top-container-iconWrapper {
    width: 32px;
    height: 32.6px;
}

.best__offers__products-card-wrapper-top-container-discountInfo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best__offers__products-card-wrapper-top-container-discountInfo span {
    font-family: Cormorant;
    font-weight: 700;
    font-size: var(--small-padding);
    line-height: 24.22px;
    text-align: center;
    color: #B84C74;

}

.best__offers__products-card-wrapper-bottom-container {
    position: absolute;
    min-height: 32px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.best__offers__products-card-wrapper-bottom-container span {
    width: 32px;
    height: 100%;
    display: inline-block;
}

.best__offers__products-card-wrapper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best__offers__products-card-info {
    width: 213px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best__offers__products-card-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.best__offers__products-card-wrapper-bottom-container-span {
    position: absolute;
    top: 14px;
    left: 44px;
    max-width: 8px;
    max-height: 8px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #417A82;
}

.best__offers__products-card-info-price-container {
    max-width: 192px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best__offers__products-card-info-price {
    font-family: Cormorant Infant;
    font-weight: var(--font-weight);
    font-style: italic;
    font-size: var(--small-padding);
    line-height: 24.22px;
    color: var(--text-color);
}

.best__offers__products-card-info-old-price {
    font-family: Cormorant;
    font-weight: var(--font-weight);
    font-size: 32px;
    line-height: 38.75px;
    color: rgba(5, 46, 76, 0.2);
    position: relative;
}

.best__offers__products-card-info-old-price::after {
    content: "";
    position: absolute;
    left: 30%;
    top: 150%;
    transform: translateY(-60%) rotate(55deg);
    width: 100%;
    height: 67.6px;
    border-left: 1px solid #B84C74;
}

.best__offers__products-card-info-price span {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.75px;
    color: var(--text-color);
}

.best__offers__products-card-info-button-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.best__offers__products-card-info-button {
    cursor: pointer;
    width: 160px;
    height: var(--padding);
    border: 1px solid var(--text-color);
    background-color: transparent;
}

.footer {
    position: relative;
    bottom: 0;
    padding: 50px 160px 25px;
    min-width: 100%;
    width: 100%;
    min-height: 337px;
    height: auto;
    border-width: 1px;
    background-color: #262626;
    color: #fff;
    font-family: PT Sans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__aside {
    width: fit-content;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer__aside-info {
    min-width: 25%;
    flex-direction: row;
    justify-content: space-between;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
}

.footer__aside--info-first {
    max-width: 85px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer__aside--info-company {
    max-width: 85px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer__aside--logo {
    align-items: center;
}

.footer__aside--logo-logo {
    font-weight: var(--font-weight);
    font-size: 33px;
    line-height: 42.7px;
    margin-bottom: 12px;
}

.footer__aside--logo-city {
    font-weight: 700;
    font-size: 13px;
    line-height: 16.82px;
}

.footer__aside--logo-info {
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    text-align: center;
    margin-bottom: 8px;
}

.footer__aside--logo-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--small-padding);
    font-weight: 700;
    font-size: 25px;
    line-height: 30.28px;
}

.footer__aside--action {
    justify-content: space-between;
}

.footer__aside--action--calculator {
    width: 236px;
    height: var(--padding);
    border: 1px solid #fff;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}

.footer__aside--action--calculator:hover {
    opacity: .5;
}

.footer__aside--action-email {
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    display: flex;
    flex-direction: column;
}

.footer__aside--action-email a {
    text-decoration: none;
    color: #fff;
}

.footer__aside--action-options {
    width: 165px;
    display: flex;
    justify-content: space-between;
}

.footer__aside--action-options li {
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.footer__aside--action-options li:hover {
    color: var(--text-color-sidebar);
}

.footer__bottom {
    border-top: 1px solid #fff;
    font-weight: var(--font-weight);
    font-size: 13px;
    line-height: 16.82px;
    letter-spacing: 0%;
    opacity: .5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--padding);
    padding-top: var(--small-padding);
}

.footer__bottom-info {
    display: flex;
    gap: var(--padding);
}

#modal {
    display: none;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 800px rgba(43, 37, 37, 0.9);
    padding: 30px;
    width: 500px;
    background-color: #fff;
    height: 500px;
    z-index: 1;
    text-align: center;
}

.modal__icon {
    margin-left: calc(500px - 104px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1439px) {
    .popular__container {
        padding-left: var(--small-padding);
    }

    .popular__title {
        top: 5vw;
        font-size: 245px;
    }

    .footer {
        padding: var(--padding);
    }
}

@media screen and (max-width: 1199px) {
    .header {
        width: 100%;
        height: 92px;
        display: flex;
        padding: var(--small-padding);
        justify-content: space-between;
        align-items: center;
    }

    .header__burger {
        font-size: var(--padding);
        line-height: 51.76px;
        letter-spacing: 0%;
        text-align: center;
    }

    .header__logo {
        font-size: var(--padding);
        line-height: 51.76px;
        color: var(--text-color-sidebar)
    }

    .header__wrapper {
        position: relative;
    }

    .header__wrapper__icon {
        width: 28px;
        height: 22px;
    }

    .header__wrapper__icon--count {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #B84C74;
        right: -3px;
        top: -7px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 15.53px;
    }

    .main {
        min-width: 100%;
    }

    .sidebar {
        display: none;
    }

    .slider__info {
        left: 50px;
    }

    .slider__info--header {
        font-size: 42px;
        line-height: 42px;
    }

    strong {
        font-size: 42px;
        line-height: 42px;
    }

    .slider__control {
        display: none;
    }

    .slider__control-squares {
        gap: 10px;
        position: absolute;
        width: 72px;
        height: 10px;
        bottom: 50px;
        left: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider__control-squares-count {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
    }

    .slider__control-squares-count:hover {
        background-color: #B84C74;
    }

    .count-active {
        background-color: #B84C74;
    }

    .popular {
        max-height: none;
        height: fit-content;
    }

    .popular__title {
        top: 3vw;
        font-size: 20vw;
    }

    .popular__container {
        margin-top: 10vw;
        display: flex;
        flex-direction: column;
        padding: var(--small-padding);
        min-width: 100%;
        justify-content: start;
        height: fit-content;
        padding-bottom: 0;
    }

    .popular__container__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .popular__container__content__item figcaption {
        display: none;
    }

    .popular__container__content__item img {
        width: 100%;
        height: calc(100vw/3);
        display: block;
        object-fit: cover;
    }

    .popular__container__content__item:nth-child(4) {
        order: 2;
    }

    .popular__container__content__item:nth-child(2) {
        order: 3;
    }

    .popular__container__content__item:nth-child(3) {
        order: 4;
    }

    .popular__container__empty {
        height: 48px;
        width: 100%;
    }

    .best__offers {
        margin: 20px 0 20px 20px;
    }

    .best__offers__products {
        gap: 20px
    }

    .best__offers__header {
        padding: 10px;
    }

    .best__offers__header__title {
        font-size: 20px;
        line-height: 25.88px;
    }

    .slider__order {
        display: none;
    }

    .footer__aside-info {
        justify-content: center;
        gap: 40%
    }
}

@media screen and (max-width: 950px) {
    .footer {
        padding: 0;
    }

    .footer__top {
        justify-content: center;
    }

    .footer__aside {
        padding: var(--padding);
    }

    .footer__aside-info {
        width: 100%;
        justify-content: space-between;
        font-size: 18px;
        line-height: 23.29px;
    }

    .footer__aside--info-company {
        max-width: 100px;
    }

    .footer__aside--logo {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .footer__aside--logo-logo {
        margin-top: var(--small-padding);
    }

    .footer__aside--logo-contact {
        flex-direction: column;
        align-items: center;
        line-height: 20px;
        font-size: 20px;
    }

    .footer__aside--action {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        gap: var(--padding);
        align-items: center;
    }

    .footer__aside--action--calculator {
        width: 100%;
        gap: var(--padding);
    }

    .footer__aside--action-email {
        flex-direction: row;
        gap: 10px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: var(--padding);
    }

    .footer__bottom-copyright {
        order: 2
    }

    .footer__bottom-info {
        margin-top: var(--small-padding);
        order: 1;
        flex-direction: column;
        align-items: center;
        gap: var(--small-padding);
        margin-bottom: var(--padding);
    }

    .footer__bottom-lorem {
        order: 3
    }
}
@media screen and (max-width: 700px) {
    #modal {
        padding: 30px;
        width: 300px;
        height: 500px;
        z-index: 1;
    }
    .modal__icon {
        margin-left: 210px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}